@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --primary-dark: #0b090a;
  --primary-light: #161a1d;
  --primary-superlight: #2f3336;
  --secondary-dark: #d3d3d3;
  --secondary-medium: #f5f3f4;
  --secondary-light: #ffffff;
  --tertiary-dark: #660708;
  --tertiary-medium: #a4161a;
  --tertiary-light: #ba181b;
  --tertiary-pastel: #e5383b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
}

.nav {
  width: 100%;
  background-color: var(--primary-light);
  color: var(--tertiary-pastel);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav .logo {
  font-size: 30px;
  font-weight: 900;
}

.nav a {
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  color: var(--secondary-medium);
  margin-left: 60px;
}

.nav .home-nav-item {
  text-decoration: underline;
  background-color: var(--primary-superlight);
}

/* about section */
.about-section {
  position: relative;
  height: 70vh;
}

.about-section .background-image {
  display: block;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(/images/about-cover.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  /* -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px); */
  filter: grayscale(0);
}

.about-section .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section .content h2 {
  font-size: 4em;
  color: #e7e7e7;
  padding-left: 40px;
}

.about-section .content p {
  color: #e7e7e7;
  padding-left: 40px;
  width: 50%;
}

.about-buttons-container {
  margin: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.about-buttons-container .btn {
  padding: 1em 2em;
  background-color: white;
  color: #e41b1b;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.about-buttons-container .button2 {
  background-color: transparent;
  border: 2px solid #e7e7e7;
  color: #e7e7e7;
}

.about-buttons-container .button1:hover {
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  color: red;
}

.about-buttons-container .button2:hover {
  background-color: white;
  border: 2px solid white;
  color: #e41b1b;
}

@media screen and (max-width: 700px) {
  .about-section .content p {
    color: #e7e7e7;
    padding-left: 40px;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .about-section {
    height: 100vh;
  }

  .about-section .content {
    align-items: center;
  }
  .about-section .content p {
    color: #e7e7e7;
    padding-left: 40px;
    width: 100%;
  }
  .about-buttons-container {
    flex-direction: column;
  }

  .buttons-container {
    flex-direction: column;
  }
}

/* section1 */
.section {
  color: #2f3336;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  max-width: 1024px;
  margin: 4em auto 0 auto;
  padding: 0px 10px;
}

.section .info {
  flex: 1 1 60%;
}

.section .info h2 {
  font-size: 3em;
}
.section .info small {
  display: inline-block;
  background-color: #b00020;
  color: #ffffff;
  padding: 0.5em 1em;
}
.section .info p {
  margin-top: 1em;
  font-size: 1.1em;
}

.section .image {
  flex: 1 1 40%;
}

.section .image img {
  width: 100%;
  border-radius: 1em;
}

@media screen and (max-width: 700px) {
  .section {
    flex-direction: column;
    padding: 0px 40px;
  }

  .section .image {
    padding: 0px 40px;
  }

  .section2 {
    flex-direction: column-reverse;
  }
}

/* buttons container */
.buttons-container {
  max-width: 1024px;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.buttons-container .btn {
  padding: 1em 2em;
  background-color: #2f3336;
  color: #e7e7e7;
  border: 2px solid #2f3336;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.buttons-container .button2 {
  background-color: transparent;
  border: 2px solid #2f3336;
  color: #2f3336;
}

.buttons-container .button1:hover {
  background-color: #404447;
  border: 2px solid #404447;
}

.buttons-container .button2:hover {
  background-color: #404447;
  border: 2px solid #404447;
  color: #e7e7e7;
}

/* footer */

.footer-container {
  background-color: whitesmoke;
  border-top: 1px solid #c7c7c7;
}
.footer {
  margin: 0px auto;
  max-width: 1140px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f3336;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 700;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #525557;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(0, 0, 0, 0.15);

  color: #141414;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #525557;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #525557;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #ba181b;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

/* media queries */
@media screen and (max-width: 1000px) {
  .nav {
    padding: 18px 36px;
  }

  .nav a {
    margin-left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .nav {
    padding: 15px 30px;
  }
  .nav a {
    margin-left: 30px;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav .logo {
    display: none;
  }
  .nav a {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav_list_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
